mixin video(v)
     div 
        h4 
            a(href=`/videos/${v.id}`)=v.title 
        ul 
            each tag in v.hashtags
                li=tag
        p=v.description 
        small=v.createdAt 
        hr