form {
  max-width: 600px;
  margin: 40px auto;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: relative;

  label {
    font-size: 15px;
    margin-bottom: 10px;
  }

  input {
    all: unset;
    padding: 15px 10px;
    background-color: rgba($color: #000000, $alpha: 0.8);
    margin-bottom: 15px;
    color: white;
    &::placeholder {
      font-size: 13px;
      color: rgba($color: #fff, $alpha: 0.5);
    }
  }

  textarea {
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: white;
  }

  input[type="submit"] {
    border-radius: 10px;
    background-color: $red;
    text-align: center;
    cursor: pointer;
    margin-top: 25px;
  }
}

.searchInInput {
  position: absolute;
  right: 55px;
  top: 45px;
}
