doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            small Welcome
        main
            div 
                span 
                    a(href="/videos/upload") Upload New Video
                span 
                    a(href="/") Home
            h1=pageTitle
            block content
            include partials/footer.pug
