extends ../base.pug
include ../mixins/video.pug

block content   
    if user.avatarUrl 
        img(src="/" + user.avatarUrl).avatar
    p.profile-username=user.username
    div.video-container
        each v in user.videos 
            +video(v)
        else 
            p No Videos Yet.