extends ../base.pug
include ../mixins/video.pug

block content   
    img(src="/" + user.avatarUrl).avatar
    div.video-container
        each v in user.videos 
            +video(v)
        else 
            p No Videos Yet.